* {
    font-family: "Cairo", sans-serif;
}

@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Cairo-font.ttf") format("woff2");
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891,
        U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
        U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}

html {
    scroll-behavior: smooth;
}

/* width scrollbar*/
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    cursor: pointer;
}

/* Track scrollbar*/
::-webkit-scrollbar-track {
    background: #adbcff;
    border-radius: 4px;
}

/* Handle scrollbar*/
::-webkit-scrollbar-thumb {
    background: #7296f8;
    border-radius: 4px;
}

/* Handle on hover scrollbar*/
::-webkit-scrollbar-thumb:hover {
    background: #7296f8;
}

/* Select option checked*/
select option:checked,
select option[multiple]:checked {
    background-color: #6596ff;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 1px solid rgb(217, 217, 217);
}
